/* for index front page */

.layout-border {
  /* background-color:  #f0f0f0; */
  align-items: stretch;  /* Stretch the columns to the same height */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  box-sizing: border-box;         /* Ensure padding/margin does not affect width/height */
  justify-content: space-evenly;
  height:auto;
  width: 100%;
  gap: 0;  /* Remove extra space between columns */
  margin: 0;
  padding: 0;
}

.grid-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  text-align: center;
  flex: 1;
}

.cell-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 15px 0 5px 0;
  display: block;
  text-align: center;
}

.grid-cell img {
  max-width: 150px; /* Make the image responsive */
  object-fit: cover; /* Crop to fit while preserving aspect ratio */
  border-radius: 8px;
}

.hover-target {
  border-radius: 50%;           /* make image round */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  display: inline-block;
}

.hover-target:hover {
  box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.7); /* glowing blue outline */
  transform: scale(1.1);      /* slightly enlarge on hover */
  border: 2px solid #bed4ec;  /* blue border */
}
/* for news page */
.listing img {
  max-width: 50% !important;   /* Limit the width of images to 80% of the container */
  height: auto;     /* Maintain aspect ratio */
  margin: 0 auto;   /* Center the image */
  display: block;
}

h3 {
  text-align: center;
}

.title {
  text-align: center;
}